<div style="height:34vw" class="form-page">
  <br>
<h1>Forgot your password?</h1>
<br>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions", :class => "photobtn main_button" %>
  </div>
<% end %>
<br>

<div class="support-link">
<%= render "devise/shared/links" %>
</div>
</div>
