<div class="navbar navbar-light navbar-lewagon" id="upperbar">
<!-- Logo start -->
  <div class="spread">
    <div class="logo"><%= link_to "Musical's", instruments_path, class: "nav-link" %></div>
  </div>
<!-- Logo end -->
<!-- Search start -->
  <div class="spread">
    <div class="search-area">
      <div>
        <%= form_tag instruments_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control btnsrccamp",
            placeholder: "Find an instrument"
            %>
      </div>
      <div>
        <%=submit_tag "Search", redirect_to: instruments_path, class: "btnsrcnav" %>
      </div>
    </div>
      <% end %>
  </div>
<!-- Search end -->
<!-- Logged in/out changes on the navbar -->
  <% if user_signed_in? %>
<!-- Logged in navbar start -->
<!-- Logged in navbar - Make a ad!-->
    <div class="spread">
      <div class="makead-link">
        <p>Do you want to sell?</p>
        <%= link_to "Make your ad!", "/instruments/new", class: "nav-link" %>
      </div>
    </div>
<!-- End of make a ad! -->
<!-- Logged in navbar - dropdown -->
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         My account
        </a>
        <div id="downcase" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div style="border-top:1px solid #1a535c" class="dropdown-item dplink"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></div>
          <div class="dropdown-item dplink"><%= link_to "My Orders", orders_path, class: "nav-link" %></div>
        </div>
      </div>
<!-- End of dropdown -->
<!-- End of Logged in navbar -->
  <% else %>
<!-- Logged out navbar start -->
<!-- Logged out navbar - sign up link start-->
    <div class="signup-link">
      <p>Not a member yet?</p>
      <%= link_to "Sign up", "../users/sign_up", class: "nav-link" %>
    </div>
<!-- End of sign up -->
<!-- Logged out navbar - log in start -->
    <div class="logbtn">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>
  <% end %>
<!-- End of log in -->
<!-- End of Logged out navbar -->
<!-- End of Log in/out changes -->
</div>

