
<p id="notice"><%= notice %></p>

<h1>Check all Instruments</h1>

<%= form_tag instruments_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an instrument"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<%if user_signed_in? %>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @myinstruments.each do |instrument| %>
    <tr>
      <td><%= link_to instrument.name, instrument %></td>
      <td><%= price_mask_real(instrument.price) %></td>
      <td><%= link_to 'Destroy', instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Edit', edit_instrument_path(instrument) %></td>
    </tr>
  <%end%>
</tbody>
<%end%>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%@instruments.each do |instrument| %>
    <tr>
      <td><%= link_to instrument.name, instrument %></td>
      <td><%= price_mask_real(instrument.price) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
