<div class="banner"><h1>Musical's</h1></div>
  <div class="container">
    <h2 class="head-title">Choose your tone:</h2>
        <%@tosellinstruments = @instruments.reject { |instrument| instrument.sold == true }%>
      <%if user_signed_in? %>
        <%@myinstruments = @tosellinstruments.select { |instrument| instrument.user_id == current_user.id}%>
        <%@othersinstruments = @tosellinstruments.reject { |inst| @myinstruments.include? inst } %>
        <div class="row">
          <div class="col-10">
            <div class="row">
              <%@othersinstruments.each do |instrument| %>
                <div class="col-3">
                  <div class="card">
                    <div class="pic"><%=cl_image_tag instrument.photo.key, class: "cld-responsive picture" %>
                      <div class="price-tag"><strong>Price: </strong><%= price_mask_real(instrument.price) %></div>
                    </div>
                    <h4><%= link_to instrument.name.capitalize, instrument %></h4>
                  </div>
                    <br>
                </div>
              <%end%>
            </div>
          </div>
          <div class="col-2">
            <div id="main">
              <button class="openbtn" onclick="openNav()">☰ My Instruments</button>
          </div>
        </div>
      </div>
          <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
              <h4 id="mine-title">My Instruments</h4>
              <% @myinstruments.each do |instrument| %>
              <div class="card mine">
                <div class="pic"><%=cl_image_tag instrument.photo.key, class: "cld-responsive picture" %>
                  <div class="price-tag"><strong>Price: </strong><%= price_mask_real(instrument.price) %></div>
                </div>
                <h4><%= link_to instrument.name.capitalize, instrument %></h4>
                <div class="manager_area">
                  <div id="card-link"><%= link_to 'Destroy', instrument, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                  <div id="card-link"><%= link_to 'Edit', edit_instrument_path(instrument) %></div>
                </div>
              </div>
              <%end%>
            </div>
      <%else%>
      <div class="row">
        <%@tosellinstruments.each do |instrument| %>
        <div class="col-3">
          <div class="card" id="visitor">
            <div class="pic"><%=cl_image_tag instrument.photo.key, class: "cld-responsive picture" %>
              <div class="price-tag"><strong>Price: </strong><%= price_mask_real(instrument.price) %></div>
            </div>
            <h4><%= link_to instrument.name.capitalize, instrument %></h4>
          </div>
        </div>
        <%end%>
      <%end%>
</div>
</div>
<br>

<script type="text/javascript">
  var cl = cloudinary.Cloudinary.new({cloud_name: "dddwbxenp"});
  cl.responsive();
</script>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
