<h6">Tell us about your order</h6>

<div class="container">
  <%= simple_form_for(@instrument) do |f| %>
  <div>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file%>
    <%= f.submit "Create order"%>
  </div>
  <% end %>
</div>
