<h6">Cadastre seu instrumento</h6>

<div class="container">
  <%= simple_form_for(@instrument) do |f| %>
  <div>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Crie sua oferta"%>
  </div>
  <% end %>
</div>
