<div class="form-page">
<h1>Make your ad!</h1>
<br>
  <%= simple_form_for(@instrument) do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description, input_html: {id: "txt-camp"} %>
    <label class="photobtn">
      Upload Instrument photo
      <span style="display:none;">
        <%= f.file_field :photo%>
      </span>
    </label>
    <br>
    <br>
    <%= f.submit "Submit", :class => "photobtn main_button" %>
  <% end %>
  <br>
</div>
