<p id="notice"><%= notice %></p>

<h1 class="instrument-title"><%= @instrument.name %></h1>
<div class="row instrument-area justify-content-center">
  <div class="col-4">
    <div class="show-picture">
      <%= cl_image_tag @instrument.photo.key, height: 350, width: 350, crop: :pad %>
    </div>
  </div>
  <div class="col-7 instrument-box">
    <div class="order-details">
      <h3 style="text-align:justify"><strong>Price:</strong></h3>
      <h3 style="text-align:justify"><span style="color:#6a040f"><%= price_mask_real(@instrument.price) %></span></h3>
      <br>
      <h3 style="text-align:justify"><strong>Description:</strong></h3>
      <p style="text-align:justify"><%= @instrument.description %></p>
      <br>
      <%= link_to 'Buy this instrument', new_instrument_order_path(@instrument), class: "btn btn-primary" %>
    </div>
</div>
</div>
