<p id="notice"><%= notice %></p>

<%= cl_image_tag @instrument.photo.key, height: 300, width: 400, crop: :fill %>

<p>
  <strong>Name:</strong>
  <%= @instrument.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @instrument.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= price_mask_real(@instrument.price) %>
</p>



<!-- <input class="btn btn-primary" type="submit" value="Buy this instrument"> -->

<%= link_to 'Buy this instrument', new_instrument_order_path(@instrument), class: "btn btn-primary" %>




