<p id="notice"><%= notice %></p>

<%= cl_image_tag @cocktail.photo.key, height: 700, width: 500, crop: :fill %>

<p>
  <strong>Name:</strong>
  <%= @instrument.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @instrument.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= price_mask_real(@instrument.price) %>
</p>
